<p id="notice"><%= notice %></p>
<h1>Orders#index</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>user_id</th>
      <th>order_date</th>
      <th>shipping_addresses_id</th>
      <th>status</th>
      <th>channel</th>
      <th>price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user_id %></td>
        <td><%= order.order_date %></td>
        <td><%= order.shipping_addresses_id %></td>
        <td><%= order.status %></td>
        <td><%= order.channel %></td>
        <td><%= order.price %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New order', new_order_path %>
